@font-face {
    font-family: 'latoregular';
    src: url('../fuentes/lato-regular-webfont.woff2') format('woff2'),
         url('../fuentes/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fuentes/roboto-regular-webfont.woff2') format('woff2'),
         url('../fuentes/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*·································· ESTILOS COMUNES ··························*/

.body {
    background: linear-gradient(180deg, rgb(4, 7, 12), black);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #050505;
    padding-top: 1em;
    z-index: 100;
}

.header > img {
    padding-left: 1em;
}

.logos{
    display: flex;
    justify-content: flex-start;
    width: 350px;
}

#logo_encounter {
    width: 85%;
    margin: 0;
    padding-left: 2em;
}

#logo_fund{
    width: 80%;
    padding-left: 1em;
    padding-top: .5em;
    margin: 0;
}

/*////////////////////////////////////////////////NAVEGADOR////////////////////////////////////////////*/
.navWrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navWrapper p{
    color: white;
    font-family: 'latoregular';
    font-size: 16px;
}
.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 1.35em;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none; 
    background-color: #050505;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;                          
    text-decoration: none;
    color: white;
    margin: 1em 2em;
    font-weight: bold;
    position: relative;
    font-size: .85rem;
    font-family: 'robotoregular';
    transition: 0.25s;
    width: fit-content;
}

.nav a:hover {
    color:rgb(114, 191, 221); 
}

.div_desplegable{ 
    position: absolute;
    display: none;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228);
    gap: 1px;
    z-index: 100;
}

nav.nav li.li_desplegable div.div_desplegable div.subMenu div.div_submenu {
    list-style: none;
    position: absolute;
    display: none;
    width: 15em;
    left: 168px;
    top: 137px;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228);
}

nav.nav li.li_desplegable div.div_desplegable div.subMenu div.div_submenu2 {
    list-style: none;
    position: absolute;
    display: none;
    width: 10em;
    left: 190px;
    top: -2px;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228); 
}
nav.nav li.li_desplegable div.div_desplegable div.subMenu div.subMenu2 div.div_submenu3 {
    list-style: none;
    position: absolute;
    display: none;
    width: 16em;
    left: 160px;
    top: -2px;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228); 
}
nav.nav li.li_desplegable div.div_desplegable div.subMenu div.subMenu3 div.div_submenu4 {
    list-style: none;
    position: absolute;
    display: none;
    width: 12em;
    left: 160px;
    top: 43px;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228); 
}
.nav li div div.div_submenu p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5px;
}

 
div.div_desplegable p {  
    margin: 0;
    padding: 0;
    background-color: #202020;
}

div.div_desplegable div {  
    background-color: #202020;
}

div.div_desplegable div p{  
    display: flex;
}

div.div_desplegable p:hover{
    background-color: #353535;
    box-shadow: 0px 0px 5px rgb(114, 157, 218);
}

div.div_desplegable a {
    text-align: center;
    color: azure;
    display: block;
    width: fit-content;
    font-size: .85rem;
    margin-bottom: 1em;
}

div.div_desplegable a:hover {
    color: rgb(112, 192, 227);
    
}

li.li_desplegable:hover .div_desplegable{
    display: flex;
    flex-direction: column;    
}
li.li_desplegable:hover div.div_desplegable div.subMenu:hover div.div_submenu{
    display: flex;
    flex-direction: column;
}

li.li_desplegable:hover div.div_desplegable div.subMenu:hover div.div_submenu2{
    display: flex;
    flex-direction: column;
}
li.li_desplegable:hover div.div_desplegable div.subMenu div.subMenu2:hover div.div_submenu3{
    display: flex;
    flex-direction: column;
}
li.li_desplegable:hover div.div_desplegable div.subMenu div.subMenu3:hover div.div_submenu4{
    display: flex;
    flex-direction: column;
}

nav.nav ul.menu a.menuLinks::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background:rgb(233, 84, 13);
    z-index: 100;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-in-out;
}

nav.nav ul.menu[data-animation="bonus"] a.menuLinks::after {
    transform-origin: right;
}

nav.nav ul.menu[data-animation="bonus"] a.menuLinks:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.nav a.active_page {
    color:rgb(114, 191, 221);
}

.nav a.active_page::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background:rgb(233, 84, 13);
}
/*///////////////////////////////////////// FIN NAVEGADOR ////////////////////////////////////////////////*/

header.header a.login {
    margin-right: 5em;
    margin-left: 2em;
    padding: 1em;
    text-decoration: none;
    background-color: rgb(67, 116, 187);
    color: azure;
    border-radius: 3px;
    font-family: 'latoregular';
    font-weight: bold;
    font-size: .75em;
    border:groove 2px rgb(233, 84, 13);
    transition: 0.65s;
} 

header.header a.login:hover {
    background-color: rgb(114, 157, 218);
    color: black;
}

#lenguajes {
    width: 7em;
    margin-left: 2em;
    display: flex;
    justify-content: space-around;
}

#lenguajes img {
    text-decoration: none;
    width: 50%;
}

.background{
    position: absolute;
    width: 100vw;
    top: 100px;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#titulo_pagina {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(255, 255, 246, 0.65);
    border-bottom: ridge 4px rgb(233, 84, 13);
    margin-bottom: 1.5em;
}

#titulo_pagina h1 {
    font-family: 'robotoregular';
    padding-left: 2em;
}

#aside_links {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3em 0 3em 3em;
}

#aside_links div#linksWrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 120px;
}

#aside_links a{
    text-decoration: none;
    color: #050505;
    margin-top: 0.85em;
    
}

#aside_links button{
    padding: 0.5em;
    border: solid 3px black;
    border-radius: 8px;
    font-family: 'robotoregular';
    font-weight: bold;
    color: white;
    background-color: rgb(67, 116, 183);;
}

#aside_links button:hover {
    color: azure;
    background-color: rgb(233, 84, 13);
    cursor: pointer;
}

#aside_links button.active_subpage {
    background-color: rgb(233, 84, 13);
}


.wrapper_texto_secun{
    width: 75%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1,5em;
}

.titulo_secun {
    font-size: 1.5em;
    padding: 1.5em 0;
    font-family: 'latoregular';
    text-decoration: underline;
}

.subtitulo_secun {
    font-size: 1.35em;
    font-family: 'latoregular';
    text-decoration: underline;
    padding-top: 3em;
}

.parrafo_secun {
    font-family: 'robotoregular';
}

.section_info{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2.5em 0;
    position: relative;
    justify-content: center;
    align-items: center;
}

.wrapper_texto_secun{
    padding: 2em 10em 4em 0;
}

section.section_info img{
    width: 50%;
    margin-bottom: 4em;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
} 
section.section_info article.article {
    display: flex;
    width: 100%;
}

.texto_secun ul li{
    padding-top: .35em;
}

.texto_secun ul li a{
    text-decoration: none;
    font-family: 'robotoregular';
    color: rgb(233, 84, 13);
}

.texto_secun ul li a:hover{
    color: rgb(67, 116, 183);
}

.parrafo_secun a {
    text-decoration: none;
    color: rgb(233, 84, 13);
}

.parrafo_secun a:hover {
    color: rgb(67, 116, 183);
    text-decoration: underline;
}

h3.subtitulo_secun3{
    font-size: 1.25em;
    font-family: 'latoregular';
    padding-top: 3em;
    font-weight: bold;
}

h4.subtitulo_secun4{
    font-size: 1em;
    font-family: 'latoregular';
    font-weight: normal;
}

div.wrapper_texto_secun ul li {
    font-family: 'robotoregular';
    padding-top: .5em;
}
/*///////////////////////////////// RRSS /////////////////////////////////*/

#RRSS {
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    background-color: rgba(255, 255, 246, 0.7);
    padding-right: 4em;
    padding-left: 1em;
}

       /*--------- TWITTER -----------*/

#grupo_twitter{
    color: black;
    transition: 2s;
    font-size:4em;
}
#grupo_twitter a:hover {
    color: rgb(27, 169, 219);
    transition: 1s;
}
#grupo_twitter a {
    text-decoration: none;
    color: #050505;  
}
#twitter{
    color: white;
    transition: transform .7s ease-in-out;
    font-size: .7em;
}
#twitter:hover{
    transform: rotate(360deg);
}

        /*--------- FACEBOOK -----------*/

#grupo_face{
    color: black;
    transition: 2s;
    font-size:4em;
    margin-left: -0.5em;
}
#grupo_face a{
    text-decoration: none;
    color: #050505;  
}
#facebook{
    color: white;
    transition: transform .7s ease-in-out;
    font-size: .7em;
}
#facebook:hover{
    transform: rotate(360deg);
}
#grupo_face a:hover {
    color: rgb(24, 119, 239);
    transition: 1s ;
}

        /*--------- YOUTUBE -----------*/

.youtubeg{
    margin-right: 1em;
}        
.youtubeg a{
    text-decoration: none;
    color: #050505;
}

.fa-youtube{
    font-size:4em;
    transition: 2s;
}
.fa-youtube:hover{
    color: red;
}

        /*--------- INSTAGRAM -----------*/

#inst {
    margin: 0 1em;
}
#inst a {
    text-decoration: none;
    color: #050505;
}

.fa-instagram-square {
    font-size:4em;
    background: black;
    background-clip: text;
    -webkit-background-clip: text;	
}
.fa-instagram-square:hover{
    transition: 1s ease-in-out;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;	
}

        /*--------- TWITCH -----------*/

#twitch a{
    text-decoration: none;
    color: #050505;
}
.fa-twitch{
    margin: 0 0.35em;
    font-size:3.5em;
    transition: 1s;
}
.fa-twitch:hover{
    color: #6441A4;
    text-shadow:0px 0px 4px #062131;
}

        /*--------- FLICKR -----------*/

#flickr a{
    text-decoration: none;
    color: #050505;
}
.fa-flickr{
    margin-left: 0.25em;
    font-size:3.75em;
    transition: 2s;
}
.fa-flickr:hover{
    transition: 1s;
    color: blue;
}

/*///////////////////////////////// FIN RRSS /////////////////////////////////*/

/*///////////////////////////////// PRE-FOOTER ///////////////////////////////*/

#preFooterLinksWrapper {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 2em;
    padding: 2em 0;
}

#preFooterLinksWrapper a {
    color: white;
    font-family: 'latoregular';
    font-size: 1.15em;
    text-decoration: none;
    position: relative;
}

#preFooterLinksWrapper a:hover {
    color: rgb(112, 192, 227);
}

div#preFooterLinksWrapper a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background:rgb(233, 84, 13);
    z-index: 100;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-in-out;
}

div#preFooterLinksWrapper a::after {
    transform-origin: right;
}

div#preFooterLinksWrapper a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/*/////////////////////////////////FIN PRE-FOOTER ///////////////////////////////*/

/*///////////////////////////////// FOOTER ///////////////////////////////*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em 0;
    background-color: rgb(230, 230, 230);
}
.footer p {
    font-family: 'latoregular';
    font-weight: bold;
    font-size: 1.15em;
}
.wrapper_logos{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.footer img {
    padding-left: 3em;
}

#volver_arriba{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 2.5em;
    height: 2.5em;
    border: ridge 2px rgb(233, 84, 13);
    background-color: rgb(67, 116, 183);
}

#volver_arriba span{
    color: white;
}
/*/////////////////////////////////FIN FOOTER ///////////////////////////////*/

/*····························· FIN ESTILOS COMUNES ··························*/

/*----------------------------- INDEX.HTML ----------------------------------*/

/*///////////////////////////////// FOTO PORTADA /////////////////////////////*/
#imgLanParty {
    display: flex;
    margin-top: 5em;
    width: 100%;
    justify-content: center;
    z-index: 0;
    position: relative;
}
#imgLanParty img {
    width: 75vw;
}
#wrapperLinkFechas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(112, 191, 226) 0%, rgb(91, 158, 213) 50%, rgb(67, 116, 183) 100%);
    width: 22em;
    font-size: 100%;
    letter-spacing: 2px;
    font-family: 'latoregular';
    font-weight: bold;
    line-height: 1.45em;
    height: 75px;
    z-index: 1;
    cursor: pointer;
    top: 45%;
    left: 10%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#wrapperLinkFechas:hover{
    box-shadow: 0px 0px 5px rgb(114, 157, 218);
}

#wrapperLinkFechas .segundaLinea::before {
    content: '';
    width: 97%;
    position: absolute;
    height: 2px;
    background: linear-gradient(45deg,rgb(67, 116, 183) 0%, rgb(112, 191, 226) 100%); 
    z-index: 100;
    top: 63%;
    left: 0.25em;  
}

#wrapperLinkFechas span {
    color: rgb(228, 160, 79);
    font-style: italic;
}

#wrapperLinkFechas::after {
    position: absolute;
    content: url('../imagenes/flecha2.png');
    left: 364px;
    top: 15px;
    width: 3em;
    z-index: 2;
    height: 75px;
    
}
#wrapperLinkFechas::before{
    content: '';
    position: absolute;
    left: 352px;
    width: 3em;
    z-index: 1;
    height: 75px;
    color:black;
    background: linear-gradient(135deg,rgb(91, 158, 213), rgb(67, 116, 183));
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#wrapperLinkFechas a{
    text-decoration: none;
    color: white;
}

#wrapperLinkInfo {
    position: absolute;
    display: flex;
    align-items: center;
    background: rgb(228, 160, 79);
    height: 2em;
    width: 23em;
    bottom: 3%;
    right: 5%; 
    border-radius: 3px;
}

#masInfo{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    font-family: 'latoregular';
    font-size: 85%;
    color: black;
    padding-left: .75em ;
    transition: 0.35s;
}

#masInfo:hover{
    color: azure;
}

#masInfo::before{
    content: '';
    position: absolute;
    align-self: center;
    width: 1.65em;
    height: 70%;
    right: 2%;
    background: rgb(131, 88, 36);
    border-radius: 50%;
}

#masInfo::after{
    position: absolute;
    align-self: center;
    content: '\002B';
    color: white;
    font-weight: 700;
    font-size: 150%;
    right: 3.5%;
}

/*/////////////////////////// TEXTOS INFORMATIVOS //////////////////////////*/

.section_texto {
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

.section_texto2 {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    position: relative;
}

.wrapper_inicio, .wrapper_inicio2 {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 0;
    background-color: rgba(255, 255, 246, 0.7);
    position: relative;
    transition: 1s;
}

.inicio_titulo, .inicio_titulo2 {
    font-family: 'latoregular';
    font-size: 1.7em;
    position: absolute;
    top: 7em;
    color: black;
    opacity: 0;
    transition: 1s;
    padding-left: 1em;
}

.texto_inicio, .texto_inicio2 {
    font-family: 'robotoregular';
    font-size: 1.15em;
    position: absolute;
    top: 10em;
    opacity: 0;
    transition: 1s;
    padding:0 1.5em;
}

.listaTextoInicio {
    font-family: 'robotoregular';
    font-size: 1.15em;
    position: absolute;
    top: 19em;
    left: 2em;
    opacity: 1;
    transition: 1s;
    padding:0 1.5em;
}

h2.tituloUp {
    opacity: 1;
    transform: translateY(-7em);
}
p.texto1Up{
    opacity: 1;
    transform: translateY(-7em);
}
ul.listaUp{
    opacity: 1;
    transform: translateY(-10em);
}
div.wrapperUp{
    height: 20em;
}

div.wrapperUp2{
    height: 12em;
}

/*/////////////////////////// FIN TEXTOS INFORMATIVOS //////////////////////*/

/*----------------------------- FIN INDEX.HTML ----------------------------------*/

/*----------------------------- ASISTE.HTML ----------------------------------*/


.table{
    width: 20em;
}

.table tr.gris {
    background-color: rgb(182, 181, 181);
}

.table .row .celda{
    text-align: left;
    border: solid 1px black;
    padding:.65em 0.35em;
    font-weight: normal;
}

.table .row th.hora {
    text-align: center;
}

.table .row th.dia {
    font-weight: bold;
}

#cuando {
    position: absolute;
    top: 42em;
}

#donde {
    position: absolute;
    top: 51.5em;
}

#como {
    position: absolute;
    top: 66.5em;
}

#acreditacion {
    position: absolute;
    top: 83em;
}

#info {
    position: absolute;
    top: 95em;
}

/*-----------------------------FIN ASISTE.HTML ----------------------------------*/

/*----------------------------- INSCRIBETE.HTML ----------------------------------*/

.parrafo_secun span.azul {
    color: rgb(67, 116, 183);
}
h3.subtitulo_terc{
    font-size: 1.25em;
    font-family: 'latoregular';
    font-weight: 500;
}
