.body {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #050505;
    padding-top: 1em;
    z-index: 100;
}

.header > img {
    padding-left: 1em;
}

.logos{
    display: flex;
    justify-content: flex-start;
    width: 350px;
}

#logo_encounter {
    width: 85%;
    margin: 0;
    padding-left: 2em;
}

#logo_fund{
    width: 80%;
    padding-left: 1em;
    padding-top: .5em;
    margin: 0;
}

/*////////////////////////////////////////////////NAVEGADOR////////////////////////////////////////////*/
.navWrapper{
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navWrapper p{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 1.35em;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none; 
    background-color: #050505;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: inline-block;                          
    text-decoration: none;
    color: white;
    margin: 1em 2em;
    font-weight: bold;
    position: relative;
    font-size: .85rem;
    font-family: sans-serif;
    transition: 0.25s;
}
.nav a:hover {
    color:rgb(114, 191, 221); 
}

.div_desplegable{ 
    position: absolute;
    display: none;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228);
    gap: 1px;
    z-index: 100;
}

nav.nav li.li_desplegable div.div_desplegable div.subMenu div.div_submenu {
    list-style: none;
    position: absolute;
    display: none;
    width: 15em;
    /* height: 85px; */
    left: 180px;
    top: 127px;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228);
}

.nav li div div.div_submenu p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5px;
}

 
div.div_desplegable p {  
    margin: 0;
    padding: 0;
    background-color: #202020;
}

div.div_desplegable div {  
    background-color: #202020;
}

div.div_desplegable div p{  
    display: flex;
}

div.div_desplegable p:hover{
    background-color: #353535;
    box-shadow: 0px 0px 5px rgb(114, 157, 218);
}

div.div_desplegable a {
    text-align: center;
    color: azure;
    display: block;
    width: fit-content;
    font-size: .85rem;
    margin-bottom: 1em;
}

div.div_desplegable a:hover {
    color: rgb(112, 192, 227);
    
}

li.li_desplegable:hover .div_desplegable{
    display: flex;
    flex-direction: column;    
}
li.li_desplegable:hover div.div_desplegable div.subMenu:hover div.div_submenu{
    display: flex;
    flex-direction: column;
}

nav.nav ul.menu li.li_desplegable  a.menuLinks::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background:rgb(233, 84, 13);
    z-index: 100;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-in-out;
}

nav.nav ul.menu[data-animation="bonus"] li.li_desplegable a.menuLinks::after {
    transform-origin: right;
}

nav.nav ul.menu[data-animation="bonus"] li.li_desplegable a.menuLinks:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/*///////////////////////////////////////////NAVEGADOR////////////////////////////////////////////////*/


header.header a.login {
    margin-right: 5em;
    margin-left: 2em;
    padding: 1em;
    text-decoration: none;
    background-color: rgb(67, 116, 187);
    color: azure;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: .75em;
    border:groove 2px rgb(233, 84, 13);
    transition: 0.65s;
} 

header.header a.login:hover {
    background-color: rgb(114, 157, 218);
    color: black;
}

#lenguajes {
    width: 7em;
    margin-left: 4rem;
    display: flex;
    justify-content: space-around;
}

#lenguajes img {
    text-decoration: none;
    width: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgLanParty {
    display: flex;
    margin-top: 2em;
    width: 100%;
    justify-content: center;
    z-index: -1;
    /* position: relative; */
}
#imgLanParty img {
    width: 75%;
}
#wrapperLinkFechas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(112, 191, 226) 0%, rgb(91, 158, 213) 50%, rgb(67, 116, 183) 100%);
    width: 18.5%;
    font-size: 100%;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.45em;
    height: 75px;
    z-index: 0;
    cursor: pointer;
    top: 45%;
    left: 20%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#wrapperLinkFechas:hover{
    box-shadow: 0px 0px 5px rgb(114, 157, 218);
}

#wrapperLinkFechas .segundaLinea::before {
    content: '';
    width: 97%;
    position: absolute;
    height: 2px;
    background: linear-gradient(45deg,rgb(67, 116, 183) 0%, rgb(112, 191, 226) 100%); 
    z-index: 100;
    top: 63%;
    left: 0.25em;  
}

#wrapperLinkFechas span {
    color: rgb(228, 160, 79);
    font-style: italic;
}

#wrapperLinkFechas::after {
    position: absolute;
    content: url('../imagenes/flecha2.png');
    left: 364px;
    top: 15px;
    width: 3em;
    z-index: 2;
    height: 75px;
    
}
#wrapperLinkFechas::before{
    content: '';
    position: absolute;
    left: 352px;
    width: 3em;
    z-index: 1;
    height: 75px;
    color:black;
    background: linear-gradient(135deg,rgb(91, 158, 213), rgb(67, 116, 183));
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#wrapperLinkFechas a{
    text-decoration: none;
    color: white;
}

#wrapperLinkInfo {
    position: absolute;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: rgb(228, 160, 79);
    height: 3.5%;
    width: 19%;
    bottom: 23%;
    right: 13%; 
    border-radius: 3px;
}

#masInfo{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 85%;
    color: black;
    padding-left: .75em ;
    transition: 0.35s;
}

#masInfo:hover{
    color: azure;
}

#masInfo::before{
    content: '';
    position: absolute;
    align-self: center;
    width: 7%;
    height: 72%;
    right: 2%;
    background: rgb(131, 88, 36);
    border-radius: 50%;
}

#masInfo::after{
    position: absolute;
    align-self: center;
    content: '\002B';
    color: white;
    font-weight: 700;
    font-size: 150%;
    right: 4%;
}

/*////////////////////////////RRSS////////////////////////////////////*/
