.body {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: #050505;
    padding-top: 1em;
}

.header > img {
    padding-left: 2em;
}

.logos{
    display: flex;
    justify-content: space-around;
    width: 400px;
}

#logo_encounter {
    width: 85%;
    margin: 0;
    padding: 0;
}

#logo_fund{
    width: 80%;
    padding-top: .5em;
    margin: 0;
}

.nav{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    padding-left: 4em;
    margin: 0;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none; 
    background-color: #050505;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    
}

.nav a {
    display: inline-block;                          
    text-decoration: none;
    color: white;
    margin: 1em 2em;
    font-weight: bold;
    position: relative;
    font-size: .85rem;
    font-family: sans-serif;
}
.nav a:hover {
    color:rgb(114, 191, 221); 
   
}

.div_desplegable{ 
    position: absolute;
    display: none;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228);
    gap: 1px;
}

.nav li div > div.div_submenu {
    position: absolute;
    display: none;
    width: 200px;
    height: 85px;
    left: 182px;
    top: 87px;
    background-color: #101010;
    border-top: solid 2px rgb(98, 170, 228);
}

.nav li div > div.div_submenu p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5px;
}

 
div.div_desplegable p {  
    margin: 0;
    padding: 0;
    background-color: #202020;
    
}

div.div_desplegable p:hover{
    background-color: #353535;
    box-shadow: 0px 0px 5px rgb(114, 157, 218);
}

#submenuDespliega:hover .div_submenu{
    display: block;
    
}


div.div_desplegable a {
    text-align: center;
    color: azure;
    display: block;
    width: fit-content;
    font-size: .85rem;
    margin-bottom: 1em;
}

div.div_desplegable a:hover {
    color: rgb(112, 192, 227);
    
}

li.li_desplegable:hover .div_desplegable{
    display: flex;
    flex-direction: column;    
}


nav.nav ul.menu li.li_desplegable  a.menuLinks::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background:rgb(233, 84, 13);
    z-index: 100;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-in-out;
}

nav.nav ul.menu[data-animation="bonus"] li.li_desplegable a.menuLinks::after {
    transform-origin: right;
}

nav.nav ul.menu[data-animation="bonus"] li.li_desplegable a.menuLinks:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

#lenguajes {
    width: 100px;
    margin-left: 7rem;
    display: flex;
    justify-content: space-around;
}

#lenguajes img {
    text-decoration: none;
    width: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgLanParty {
    display: flex;
    margin-top: 2em;
    width: 100%;
    justify-content: center;
}

#imgLanParty img {
    width: 75%;
}